
.address-pane-table table.saved-addresses {
  margin-top: 1em;
}

.address-pane-table table.saved-addresses td {
  width: 30%;
  vertical-align: top;
  padding-bottom: 1em;
  padding-right: 0.5em;
}
